body{
    margin: 0;
    padding: 0;
}
.menu{
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 2rem;
}
.menu h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(19, 32, 209);
}